[submodule "MNK-backend"]
	path = MNK-backend
	url = git@github.com:Miconen/MNK-backend.git
    branch = main
[submodule "MNK-frontend"]
	path = MNK-frontend
	url = git@github.com:Miconen/MNK-frontend.git
    branch = main
