[submodule "MNK-backend"]
	path = MNK-backend
	url = git@github.com:Miconen/MNK-backend.git
    branch = develop
[submodule "MNK-frontend"]
	path = MNK-frontend
	url = https://github.com/Miconen/MNK-frontend
    branch = develop
